version: '3.4'
services:
  nginx:
    image: nginx:1.25-alpine
    restart: always
    ports:
      - '443:443'
      - '80:80'
    volumes:
      - {{ ssl_path }}:/etc/nginx/ssl
      - {{ ansible_env.HOME }}/nginx/nginx.conf:/etc/nginx/conf.d/appka.conf
    networks:
      - wp
  wordpress:
    depends_on:
      - mysql
    image: wordpress
    container_name: wordpress
    restart: unless-stopped
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: {{ wordpress_user }}
      WORDPRESS_DB_PASSWORD: {{ wordpress_password }}
      WORDPRESS_DB_NAME: {{ wordpress_db_name }}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_SITEURL', 'https://{{ domain_name }}/wordpress');
        define('WP_HOME', 'https://{{ domain_name }}/wordpress');
    volumes:
      - wordpress:/var/www/html
    networks:
      - wp
  mysql:
    image: mysql:5.7
    restart: always
    command: '--default-authentication-plugin=mysql_native_password'
    environment:
      - MYSQL_ROOT_PASSWORD={{ root_password }}
      - MYSQL_DATABASE={{ wordpress_db_name }}
      - MYSQL_USER={{ wordpress_user }}
      - MYSQL_PASSWORD={{ wordpress_password }}
    volumes:
      - mysql-data:/var/lib/mysql  
    networks:
      - wp
volumes:
  wordpress:
  mysql-data:
networks:
  wp:
